/* color variables */

$primary: #4ebe99;
$primary-light: #4bbd99;
$primary-extra-light: #22f3ae;
$secondary: '#97B5BF';
$secondary-light: '#A5BBC2';
$background: '#F9FDFE';
$black: '#3A3C3D';
$white: '#FFFFFF';
$white-dark: '#F4FBFC';
$gray: '#757575';
$gray-light: '#E6ECEE';
$orange: '#FBAD18';
$danger: '#E40F0A';
$border: '#ECEBEB';
$hover: rgba(151, 181, 191, 0.2);

/* font weight */
$extra-light: 100;
$thin: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 800;

/* screen resolution */
$mobile: 600px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1270px;
$container: 1200px;
